<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta charset="UTF-8"/>
<title>Weather Data for a Balcony in Augsburg, Germany</title>
</head>
<body  bgcolor="#000000" text="#206cff" link="#0099ff" vlink="#00ffff"> 
<center>
<br><h1>Weather from Augsburg, Germany</h1>
<a href="https://github.com/mcthoren/weather_tools/blob/master/README">More info on the weather notes page.</a><br>
<br> Current Conditions (updates every ~60s):

<table borders>
<tr><td>Ext Temp:</td> <td>EXTTEMP°C</td> <td>Ext. Rel. Humidity:</td> <td>EXTHUM %</td></tr>
<tr><td>Pressure:</td> <td>REL_PRESS kPa</td> <td>Pi Temp:</td>  <td>PITEMP°C</td></tr>
<tr><td>Dew Point:</td> <td>EXTDP°C</td> <td>Last Update:</td>  <td>DATE</td></tr>
</table>

<br>
<img src="exttemp.png"><br><br>
<img src="extdewtemp.png"><br><br>
<img src="exthum.png"><br><br>
<img src="abshum.png"><br><br>
<img src="heatindex.png"><br><br>
<img src="pressure.png"><br><br>
<img src="pitemp.png"><br><br>
<img src="airquality.png"><br><br>
</center>
<br> <br>
</body> </html>
